<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Travel Idea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateTravelForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Detail</ion-label>
        <ion-input formControlName="detail" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>