<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/dashboard" class="ios" tab="dashboard">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>View Itinerary</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-trip" class="ios" tab="make-trip">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Trip</ion-label>
    </ion-tab-button> -->
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-travelidea" class="ios" tab="make-travelidea">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Travel Day</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>