<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      <ion-icon name="airplane-outline"></ion-icon> Travel Idea App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Travel Ideas
    </ion-list-header>

    <ion-item *ngFor="let travel of Travels" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="map-outline"></ion-icon> {{travel.location}}
        </h5>
        <p>
          <ion-icon name="arrow-forward-outline"></ion-icon> {{travel.detail}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-travelidea/', travel.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteTravel(travel.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>