
<ion-content class="auth-form background">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
      <div class="title">
        Welcome to Travel Ideas <ion-icon name="bulb-outline"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
      <ion-row>
      <ion-col class="ion-align-self-center">

        <ion-button [routerLink]="['/signup']" color="primary">Sign Up</ion-button>
        <span class="already"></span>
        <ion-button [routerLink]="['/login']" color="danger">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
